/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($purple-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;

$body-color: #333;
$body-bg: #fff;
$gray: #9a9a9a;
$gray-bg: #f9f9f9;
$gray-text: #787878;

$root-font-size: 16px;
$root-font-size-medium: 17px;
$root-font-size-large: 18px;
$root-line-height: 1.75;

$body-color: #333;
$body-bg: #fff;

$border-color: #e5e5e5;
$border-color-light: #eee;

$code-font-family: Menlo, Monaco, Consolas, monospace;
$code-color: inherit;

$break-point-1: 40em;
$break-point-2: 54em;
$break-point-3: 60em;
$break-point-4: 72em;
$break-point-5: 92em;
$break-point-dynamic: 97.5em;
$break-point-font-large: 125em;

$dynamic-width: calc(50% - 28rem);
