---
layout: default
---
<!-- resume.html -->
<style>
  @import "/assets/icomoon/style.css";
</style>
{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] | default:site.author %}
{% assign resume = site.data.resume %}
{% assign social = site.data.social %}

<div class="post">
    <div class="float-right" style="width:100px;height:auto">
        {%- assign profile_image_path = author.picture | prepend: 'assets/img/' -%}
        {% include figure.html
        path=profile_image_path
        class="img-fluid z-dept-1 rounded"
        alt=page.profile.image -%}
   </div>
 <header class="post-header">
    <h1 class="post-title">
         {% if site.title == "blank" -%}
         <span class="font-weight-bold">{{ site.first_name }}</span>
         {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
</header>

<br>
<article>
  <div class="clearfix">
     <p class="h3 faded subline title p-job-title" property="jobTitle" style="margin : 0; padding-top:0;">{{ author.jobtitle }}
     </p>
     
     <br>
     <table>
         <tbody>
         <tr>
             <td><i class="icon-location" title="Location"></i><a style="padding-left: 10px; padding-right: 10px" href="https://goo.gl/maps/p5i4MVuMPsiBBgU96">{{author.street}}, {{ author.zipcode}}, {{author.city}} - {{author.state}} </span></a></td>
             <td><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" style="padding-left: 10px; padding-right: 10px">https://www.linkedin.com/in/{{ site.linkedin_username}}</a></td>
         </tr>
         <tr>
             <td><i class="fas fa-envelope" title="Email"></i><a href="mailto:{{ site.email | encode_email }}" title="Email" style="padding-left: 10px; padding-right: 10px">marianyela.petrizzelli@curie.fr</a></td>
             <td><i class="fab fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter" style="padding-left: 10px; padding-right: 10px">https://twitter.com/{{ site.twitter_username}}</a></td>
         </tr>
         <tr>
             <td><i class="fab fa-github"></i><a href="https://github.com/{{site.github_username}}" title="GitHub" style="padding-left: 10px; padding-right: 10px">https://github.com/{{author.website}}</a></td>
             <td><i class="ai ai-google-scholar"></i><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar" style="padding-left: 10px; padding-right: 10px">Marianyela Petrizzelli</a>
        </tr>
            <td><i class="ai ai-orcid"></i><a href="https://orcid.org/{{site.orcid_id}}" title="ORCID" style="padding-left: 10px; padding-right: 10px">{{site.orcid_id}}</a></td><td></td>
     </table>
     <br>
     <div class="screen-only">
        <button class="btn btn-sm btn-primary mt1" onclick="window.print()" style="background-color:purple"><small class="icon-printer"></small>Print</button>
        <a href="/assets/pdf/Resume.pdf" class="btn btn-sm btn-primary mt1"><small class="icon-file-pdf"></small>PDF</a>
    </div>
    <br>
    <section aria-label="work">
    <div class="npb">
        <p id="work" class="h4 hr-bottom">Experience<span class="symbol icon-briefcase" style="padding-left: 10px"></span>
            <section style="font-size:13px"></p>
            <header class="post-header">
            {% for job in resume.work %}
            <h1 class="h5 hr-bottom" style="text-align:left;font-size:16px">
                {{ job.position }}
                <span style="float:right;font-weight:normal; padding-right: 10px; color:gray; font-size:15px">({{ job.startDate }} - {{ job.endDate }})</span>
                <br>
                <a class="org p-org h-card " href={{ job.website }}>{{ job.company }}</a>
            </h1>
            </header>
            <a class="post-content" style= "font-size:13px">{{ job.summary | markdownify}}</a>
            <p class="post-content" style="margin-bottom: 2em; font-size:13px"> <a><b> Keywords: </b></a><a>{% for highlight in job.highlights %}{{highlight}} {% endfor %}</a></p>{% endfor %}
    </div>
    </section>
    <br>
    <div class="row">
    <div class= "column" style="width: 70%; padding-left: 15px">
    <section aria-label="education">
        <div class="npb">
            <p id="education" class="h4 hr-bottom">Education<span class="symbol icon-library" style="padding-left: 10px"></span></p>
                <section style="font-size:13px">
                <header class="post-header">
                {% for edu in resume.education %}
                <h1 class="h5 hr-bottom" style="text-align:left;font-size:16px">
                    {{ edu.studyType }} <a style="font-weight:normal"> in </a>
                    <span style="float:right;font-weight:normal; padding-right: 10px; color:gray; font-size:15px">({{ edu.startDate }} - {{ edu.endDate }})</span>
                    <a class="org p-org h-card " href={{ edu.url }}>{{ edu.area }}</a>
                    <br>
                    <a style="font-weight:normal"> Institution: </a>
                    <a "org p-org h-card " property="name" href={{ edu.url }}> {{edu.institution}} </a>
                </h1>
                </header>
                <a class="post-content">{{ edu.note | markdownify}}</a>
                <a class="post-content" style="font-style:italic;">{{ edu.thesis}}</a>
                <div class="post-content" style="nowrap">Mentor/s: <a style="font-weight:bold;">{{ edu.supervisor}}</a></div><br>
                {% endfor %}
    </div>
    </section>
    </div>
    <div class="column" style="width: 30%; padding-left: 30px; padding-right: 15px">
        <section class="npb">
            <p id="languages" class="h4 hr-bottom"> Languages
                <span class="symbol icon-bubbles padding-left: 10px"></span>
                <a href="#languages" class="permalink"></a>
            </p>
            <dl class="skills">
            {% for language in resume.languages %}
                <div class="tag">
                    {{language.language}}{% if language.fluency == "Native speaker" %}<a class="icon-star-full" style="float:right"></a><a class="icon-star-full" style="float:right"></a><a class="icon-star-full" style="float:right"></a><a class="icon-star-full" style="float:right"></a>
                        {% elsif language.fluency == "Professional" %}
                        <a class="icon-star-half" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        {% elsif language.fluency == "Working" %}
                        <a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        {% elsif language.fluency == "Limited Working" %}
                        <a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-half" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        {% elsif language.fluency == "Elementary" %}
                        <a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        {% endif %}
                </div>
                {% endfor %}
            </dl>
        </section>
        <br>
        <section class="npb" aria-label="skills">
            <p id="skills" class="h4 hr-bottom"> Skills <span class="symbol icon-wrench padding-left: 10px"></span>
                <a href="#skills" class="permalink"></a>
            </p>
            <dl class="skills">
                <dt class="fl">Programming</dt>
                    <div class="tag">R<a class="icon-star-full" style="float:right"></a>
                    <a class="icon-star-full" style="float:right"></a>
                    <a class="icon-star-full" style="float:right"></a>
                    <a class="icon-star-full" style="float:right"></a></div>
                    <div class="tag">Python<a class="icon-star-half" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a></div>
                    <div class="tag">Matlab</li><a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a></div>
                    <div class="tag">HTML</li><a class="icon-star-empty" style="float:right"></a>
                        <a class="icon-star-half" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a>
                        <a class="icon-star-full" style="float:right"></a></div>
            </dl>
        </section>
        <br>
        <section class="npb">
            <p id="interests" class="h4 hr-bottom"> Interests <span class="symbol icon-heart padding-left: 10px"></span>
                <a href="#interests" class="permalink"></a>
            </p>
            <dl class="skills"><dt>Mathematics</dt>
                        <div style="font-size:14px">Dimensionality reduction</div>
                        <div style="font-size:14px">Machine learning</div>
                        <div style="font-size:14px">Data-driven models</div>
                        <div style="font-size:14px">Statistics</div>
            </dl>
            <dl class="skills"><dt>Biology</dt>
                        <div style="font-size:14px">Systems Biology</div>
                        <div style="font-size:14px">Computational Biology</div>
                        <div style="font-size:14px">Genetics</div>
                        <div style="font-size:14px">Metabolism</div>
                        <div style="font-size:14px">Cell development</div>
            </dl>
        </section>
    </div>
</div>
    
<section aria-label="awards">
    <div class="npb">
        <p id="awards" class="h3 hr-bottom"> Honors and distinctions
            <span class="symbol icon-trophy"></span>
            <a href="#awards" class="permalink"></a>
        </p>
        <section style="font-size:13px">
            {% for award in resume.awards %}
                <p> <time class="faded">{{ award.date }}</time> -
                    <a class="bold"> {{ award.title }}</a> <span class="faded"> @ </span>
                    <a class="org p-org h-card " href={{ award.url }}>{{ award.awarder }}</a></p>
            {% endfor %}
        </section>
    </div>
</section>
<section aria-label="publications">
    <div class="npb">
        <h2 id="publications" class="h3 hr-bottom"> Publications
            <span class="symbol icon-book"></span>
            <a href="#publications" class="permalink">
                <span class="sr-only">Permalink</span>
                <span class="content-hash"></span>
            </a>
        </h2>
        <section>
            <ul>{% for publication in resume.publications %}
                <li style="font-size:14px">
                    <a href={{ publication.website}} >
                        <span class="faded">{{ publication.authors}}</span>. <span class="h4 bc" style="font-size:13px">{{ publication.title }}</span>. <span class="faded"><em>{{ publication.publisher}}</em>, {{publication.releaseDate}}. {{ publication.issn}}. {{ publication.doi}}.</span>
                    </a>
                </li>
            {% endfor %}</ul>
        </section>
    </div>
</section>
</article>

